@import './utils/variables.css';

@define-mixin grid $columns, $rows, $gap {
  display: grid;
  column-gap: $gap;
  row-gap: $gap;
  grid-template-columns: $columns;
}

@define-mixin container $width {
  margin: 0 auto;
  max-width: $width; 
}

@custom-media --small (width >= 768px);
@custom-media --medium (width >= 960px);
@custom-media --big (width >= 1224px);
@custom-media --large (width >= 1442px);

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  all: initial;
}

img {
  width: 100%;
}

html {
  font-size: 16px;
  line-height: calc(1.1rem + .5vw);
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-text);
  color: var(--brand-blue);
  margin: 0;
  padding: 0;
  background: #fff;
  overflow-x: hidden;

  /* type */
  h1, h2, h4 {
    font-family: var(--heading-text);
    font-weight: 900;
  }

  h1 {
    font-size: calc(2.85rem + .3vw);
    line-height: calc(3rem + .5vw);
  }

  h2 {
    font-size: calc(1.6rem + .3vw);
  }

  h3 {
    font-size: calc(1.1rem + .2vw);
    font-weight: 400;
  }

  h4 {
    font-size: calc(.9rem + .2vw);
  }

  h5 {
    font-size: calc(.7rem + .2vw);
    text-transform: uppercase;
    font-weight: 400;
  }

  nav {
    display: grid;
    padding: 0 var(--big);
    @mixin grid 1fr 4fr, 1fr, var(--small);
    
    @media (--small) {
      @mixin grid 1fr 8fr, 1fr, var(--medium);
    }

    .logo {
      padding: var(--big) 0;
    }

    ul {
      display: none;

      @media (--medium){
        display: grid;
        @mixin grid repeat(4, 100px), 1fr, var(--tiny);
        align-items: center;
        z-index: 1;
        text-align: center;
      }

      > li {
        &:last-child {
          margin-left: var(--small);
        }
      }

      > li > a {
        font-family: var(--heading-text);
        text-transform: uppercase;
        color: var(--brand-blue);
      }
    }
  }

  .button {
    width: 100%;   
    background: transparent;
    text-align: center;
    max-width: var(--max-width-small);
    padding: var(--medium);
    margin-top: var(--big);
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.blue {
      color: var(--blue);
      border: 4px solid var(--blue);
    }

    &.white {
      color: #fff;
      border: 4px solid #fff;
      z-index: 1;
    }

    &__text {
      font-size: calc(.7rem + .2vw);
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 900;
      font-family: var(--heading-text);
      background: transparent;
      border: none;
      cursor: pointer;
      text-align: center;
    }
  }

  .wrapper {
    overflow: hidden;

    &__hero {
      background: var(--blue);

      .hero__text {
        @mixin container var(--max-width-large);
        @mixin grid 1fr, repeat(3, 1fr), var(--small);
        padding: var(--big);
        color: #fff;

        @media (--big) {
          padding: var(--xxl) 0;
        }

        h1 {
          width: 100%;
          margin: 0;
          z-index: 1;

          @media (--medium) {
            max-width: 56vw;
          }
        }

        h3 {
          width: 100%;
          z-index: 1;

          @media (--medium) {
            max-width: 42vw;
          }
        }
      }
      
      .hero__image {
        position: absolute;
        top: var(--big);
        right: 0;
        
        img {
          z-index: 0;
          max-width: 95%;
        }
      }
    }

    &__about {
      @mixin container var(--max-width-large);
      padding: var(--big);

      @media (--medium) {
        padding: var(--hugest) 0 var(--big);
      }

      .about__video {
        @mixin container var(--max-width-mid);
        text-align: center;

        .underline {
          font-size: calc(1.1rem + .2vw);
          font-family: var(--heading-text);
          background-size: 1px 1em;
          box-shadow:
            inset 0 -0.1em white,
            inset 0 -0.5em var(--light-turq);
          display: inline;
        }

        .video {
          margin: var(--big) auto;
          display: block;
          width: 50vw;
          height: calc(50vw * (9/16));
        }
      }

      .about__text {
        @mixin grid repeat(2, 1fr), 2fr, var(--small);

        @media (--medium) {
          @mixin grid repeat(4, 1fr), 1fr, var(--big);
        }
        
        h4 {
          color: var(--blue);
        }
      }
    }

    &__cloud {
      background: var(--brand-blue);

      .cloud {
        @mixin container var(--max-width-large);
        row-gap: var(--huge);
        color: white;
        padding: var(--big);
        @mixin grid repeat(2, 1fr), repeat(4, 1fr), var(--big);
        grid-template-areas: "first first"
          "second second"
          "third forth"
          "fifth fifth";

        @media(--medium) {
          @mixin grid repeat(4, 2fr), repeat(2, 1fr), var(--huge);
          grid-template-areas: "first first second second"
          ". third forth fifth";
        }

        @media (--big) {
          padding: var(--huge) 0;
        }

        h1, h3, h3 {
          margin: 0;
        }

        h1, h4 {
          color: var(--turq);
        }

        h4 {
          text-transform: uppercase;
        }

        &__heading {
          grid-area: first;

          @media(--medium) {
            border-bottom: 4px solid var(--turq);
          }

          + p {
            grid-area: second;
            margin: 0;
          }
        }

        &__benefit-one {
          grid-area: third;
        }

        &__benefit-two {
          grid-area: forth;
        }

        &__benefit-three {
          grid-area: fifth;
        }
      }
    }

    &__services {
      @mixin container var(--max-width-big);
      @mixin grid 1fr, 4fr, var(--huge);
      padding: var(--big);
      
      @media (--big) {
        padding: var(--huge) 0;
        @mixin grid 1fr, 4fr, var(--medium);
      }

      .services {
        align-items: center;
        @mixin grid 1fr, repeat(2, 1fr), var(--tiny);
        overflow: visible;

        &:hover {
          .svg-bgr {
            @media (--big) {
              animation: 2.5s rotate ease-out;
              animation-fill-mode: 1;
            }
          }
        }

        &:nth-child(odd) { 
          @mixin grid 1fr, 1fr, var(--small);

          @media (--small) {
            @mixin grid 3fr 2fr, 1fr, var(--small);
          }
        }
        
        &:nth-child(even) {
          @mixin grid 1fr, 1fr, var(--small);
          
          @media (--small) {
            @mixin grid 2fr 3fr, 1fr, var(--small);
          }
        }

        h5, h2 {
          margin: var(--tiny) 0;
        }

        h2, span {
          color: var(--blue);
        }

        &__image {
          position: relative;
          display: none;

          .svg-bgr {
            position: absolute;
            top: 0;
            z-index: -1;
          }

          picture {
            z-index: 1;
          }

          &:nth-child(odd) {
            @media (--small) {
              display: block;
            }

            @media (--big) {
              padding: var(--xxl) var(--xxl) var(--xxl) 0;
            }
          }
          
          &:nth-child(even) {
            .svg-bgr {
              left: 0;
            }

            @media (--small) {
              display: block;
            }

            @media (--big) {
              padding: var(--xxl) 0 var(--xxl) var(--xxl);
            }
          }
        }

        .button__text {
          &:after {
            content: '';
            background: url('assets/arrow.svg') no-repeat 50%;
            background-size: 100%;
            padding: .1rem .6rem;
            margin: var(--small);
          }
        }
      }
    }

    &__careers {
      position: relative;
      padding: var(--huge) 0 0;
      @mixin grid 1fr, repeat(2, 1fr), var(--big);

      @media (--medium) {
        @mixin grid repeat(2, 1fr), 1fr, var(--huge);
        padding: var(--huge) 0;
      }

      .careers__summary {
        @mixin grid 1fr, repeat(3, 1fr), var(--small);
        padding: 0 var(--big);
        align-items: center;
        align-self: center;

        @media (--medium) {
          padding: 0 var(--huge) ;
        }

        @media (--big) {
          padding: 0 var(--big) 0 var(--max);
        }
        
        h2, h3 {
          margin: 0;
        }
      }

      .careers__slider {
        background: var(--brand-blue);
        color: #fff;

        h4 {
          text-transform: uppercase;
        }

        button {
          background: transparent;
          border: none;
          padding: var(--medium);

          &:focus {
            outline: none;
          }
        }

        .slider {
          display: grid;
          padding: var(--big);

          @media (--medium) {
            padding: var(--big) var(--huge);
          }
          
          .slides {
            grid-column: 1;
            grid-row: 1;
            align-self: center;
            transform: translateX(150%);
            transition: transform .7s ease-in-out;
            background: var(--brand-blue);

            &[data-status='active'] {
             transform: translateX(0);
             
            }

            h4 {
              color: var(--turq);
            }
          }
        }

        #arrow {
          cursor: pointer;

           .arrow__inner {
            fill: var(--turq);
          }
        }
      }
    }
  }
}
  footer {
    @mixin grid repeat(2, 1fr), 1fr, var(--small);
    font-size: 14px;
    padding: var(--big);
    border-top: 4px solid var(--turq);

    @media (--small) {
      @mixin grid repeat(4, 1fr), 1fr, var(--large);
    }

    address {
      font-style: unset;
      line-height: calc(1em + .2vw);

    p {
      margin: 0 0 0 var(--tiny);
    }
  }
}

@keyframes rotate {
  50% {
    transform: rotate(-2deg);
  }
}
