:root {
  /* fonts */
  --body-text: 'Roboto', sans-serif;
  --heading-text: 'Montserrat', sans-serif;

  /* colors */
  --brand-blue: #344055;
  --light-gray: #F7F7F7;
  --turq: #1AE4CA;
  --light-turq: #91EFE3;
  --blue: #2786FF;

  /* widths */
  --tiny: .5rem;
  --small: 1rem;
  --medium: 1.5rem;
  --big: 2rem;
  --large: 2.5rem;
  --huge: 4.5rem;
  --hugest: 8rem;

  --max-width-large: 70rem;
  --max-width-big: 61.50rem;
  --max-width-mid: 50rem;
  --max-width-small: 15rem;
}
